# Ignore node_modules to avoid copying the local node_modules directory into the Docker image

node_modules

# Ignore log files

\*.log

# Ignore environment variable files (e.g., .env)

.env

# Ignore Dockerfile and dockerignore files to avoid copying them

Dockerfile
.dockerignore

# Ignore Git repository files

.git
.gitignore

# Ignore any other local files you don't need in the Docker image

\*.md
